a {
    display: inline-block;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

/* header */

header {
    background: #4D2C82;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.header {
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.header a {
    text-decoration: none;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-size: 16px;
    font-weight: 400;
}

.nav-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

a.nav-btn1 {
    background: #3d1f6e;
    padding: 6px 17px;
    color: white;
    border-radius: 20px;
}

.nav-btn1,
.nav-btn2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.nav-btn p {
    margin-top: -5px;
    margin-bottom: 0rem;
    text-align: center;
}

a.nav-btn2 {
    background: #F26221;
    padding: 8px 20px;
    color: white;
    border-radius: 20px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

/* mobile menu  */



span {
    display: inline-block;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    transition: 0.3s;
}

/*.toggler */
.toggler {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
    width: max-content;
    z-index: 1;
    position: relative;
}

.toggler span {
    width: 40px;
    height: 3px;
    background: black;
    border-radius: 5px;
    position: relative;
    /* for rotation*/
    transition: 0.3s;
    /* for smooth animation */
}


.toggler span:nth-child(2) {
    width: 30px;
}

.toggler.clicked span:nth-child(1) {
    transform: rotate(43deg) translateY(5px) translateX(9px);

}


.toggler.clicked span:nth-child(2) {
    transform: translatex (10px);
    opacity: 0;
    transition: 0.15;
    /* display: none; */
}

.toggler.clicked span:nth-child(3) {
    transform: rotate(-43deg) translateY(-6px) translateX(11px);
}

/* mobile menu hidden after 768px or 992px upto designer */
.mobile-menu {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 50%;
    display: flex;
    background: peachpuff;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: 0.35;
    right: -100vw;
    opacity: 0;
    transition: 0.3s;
    visibility: hidden;
}

.mobile-menu ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mobile-menu.clicked {
    opacity: 1;
    right: 0;
    transition: 0.5s all;
    visibility: visible;
}

/* for hiding mobile menu on deskktop */
/* .mobile {
    display: none;
} */

/* for showing menu in mobile screens */
@media screen and (max-width:768px) {
    .mobile {
        display: block;
    }
}

@media screen and (max-width:475px) {
    .mobile-menu {
        width: 100%;
    }



/* Hero Section */

#hero {
    position: relative;
    height: 100vh;
    background: url(/img/banner2.avif);
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

#hero::after {
    content: "";
    position: absolute;
    top: 0;
    background: #000000;
    background: linear-gradient(3deg, rgba(0, 0, 0, 1) -14%, rgba(0, 0, 0, 0) 42%);
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 13;
}

.hero-content {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    max-width: 650px;
    z-index: 15;
    padding: 0 10px;
    margin-top: 60px;
}

h1.hero-title {
    font-size: 60px;
}

h4.hero-sub {
    font-weight: 350;
    font-size: 26px;
    margin-top: 20px;
}

.search-bar {
    display: flex;
    gap: 14px;
    align-items: center;
}

input#tracking-no {
    padding: 16px 10px;
    width: 400px;
    border-radius: 22px;
}

input#track-btn {
    padding: 16px 10px;
    width: 180px;
    border-radius: 22px;
    background: #f26221;
    color: white;
}

/* about us section */

section#about-us {
    padding: 100px 0;
}

h2.titles {
    font-size: 50px;
    font-weight: 600;
    max-width: 430px;
}

p.about-text {
    font-size: 16px;
    font-weight: 400;
    padding: 18px 0px 12px 0px;
}

a.learn-more-btn {
    text-decoration: none;
    color: white;
    background: #4d2c82;
    padding: 12px 32px;
    border-radius: 15px;
    margin-bottom: 20px;
}

h2.number {
    font-size: 42px;
    font-weight: 700;
}

p.about-desc {
    font-size: 22px;
    font-weight: 300;
    max-width: 245px;
    margin-bottom: 8px;
}

.col-md-6.card1,
.card2 {
    border-bottom: solid 1px lightgrey;
}

.col-md-6.card1,
.card3 {
    border-right: solid 1px lightgray;
}

.about-img img {
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

/* why section  */

section#why-us {
    padding: 100px 0;
}

h2.why-title {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 40px;
}

.why-image {
    position: relative;
    background-image: url(/img/race-plane.jpg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 12px;
    border-radius: 32px;
}

.why-icon img {
    background-color: #e8def8;
    padding: 7px;
    border-radius: 14px;
    width: 56px;
}

.image-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 180px;
    color: white;
    z-index: 1;
    position: relative;
    padding: 8px;
}

.why-image::after {
    content: "";
    position: absolute;
    top: 0;
    background: #000000;
    background: linear-gradient(3deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 66%);
    width: 100%;
    height: 100%;
    left: 0;
    border-radius: 32px;
}

.why-data h3 {
    font-size: 22px;
    font-weight: 600;
}

.why-data p {
    font-size: 16px;
    font-weight: 500;
}

.why_card_data {
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 22px;
    height: 100%;
}

/* carousal cards section */

section#carousal {
    padding: 100px 0;
}

.carousal_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2.carousal_title {
    font-size: 45px;
    font-weight: 600;
    text-align: center;
}

p.carousal_desc {
    font-size: 20px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 40px;
}

.c-card {
    position: relative;
    padding: 6px;
}

.label p {
    margin-top: 0;
    margin-bottom: 6px;
}

.label {
    position: absolute;
    left: 14px;
    bottom: 18px;
    background: #381d4385;
    padding: 6px 85px 0 10px;
    backdrop-filter: blur(4px);
    color: white;
    border-radius: 0px 12px 12px 0px;
}

.slick-prev {
    position: absolute;
    left: -15px;
    top: 150px;
    z-index: 1;
    background: #00000057;
    backdrop-filter: blur(4px);
    border: none;
    font-size: 38px;
    border-radius: 10px;
    color: #ff9b51;
}

.slick-next {
    position: absolute;
    right: -15px;
    top: 150px;
    z-index: 1;
    background: #00000057;
    backdrop-filter: blur(4px);
    border: none;
    font-size: 38px;
    border-radius: 10px;
    color: #ff9b51;
}


/* services section */
section#services {
    padding: 60px 0;
}

section#sec1,
#sec2 {
    max-width: 825px;
    margin: auto;
}

#services .container {
    background: #45237C;
    background: linear-gradient(0deg, rgba(69, 35, 124, 1) 0%, rgba(57, 21, 113, 1) 100%);
    border-radius: 28px;
    color: white;
    padding: 40px 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 76px 0;
}

#services .sub_head {
    margin-top: 25px;
    margin-bottom: 0px;
    border: solid 1px;
    border-radius: 25px;
    width: max-content;
    padding: 5px 12px;
    margin: auto;
}

.service_cards {
    padding: 5px
}


.service_cards div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px 0;
    height: 100%;
    padding: 15px;
    justify-content: space-between;
    background: #351d59;
    border-radius: 20px;
    font-size: 16px;
}

.col-md-6.ps_cards {
    padding: 5px;
}

.Partnerships_cards {
    background: #351d59;
    display: flex;
    flex-direction: row;
    padding: 12px;
    align-items: center;
    gap: 10px;
    height: 100%;
    border-radius: 15px;
}

.key_service_cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #351d59;
    height: 100%;
    border-radius: 30px;
    padding: 8px;
}

.card-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px;
}

.flag_div {
    display: flex;
    gap: 12px;
    align-items: center;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 419px;
    margin: 0 auto 50px auto;
}

#sec3 .flag_div div {
    background: #351d59;
    padding: 7px;
    border-radius: 10px;
}

#contact-us {
    padding: 100px;
    text-align: center;
}

#contact {
    background: #f4f4f4;
    padding: 15px 30px;
    border-radius: 20px;
    font-size: 20px;
    border: solid 3px #e8def8;
    box-shadow: #2a124e 0px 6px;
}

#contact a {
    text-decoration: none;
    color: #2a124e;
    font-weight: 400;
}

#contact-us h2 {
    font-size: 35px;
    font-weight: 500;
    max-width: 940px;
}

#contact-us .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}

#contact-us p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 20px;
    font-weight: 400;
    max-width: 601px;
}

footer.race {
    padding: 40px 0px 0px;
    background: #eee3ff;
    color: #2a124e;
    font-size: 16px;
}    

footer a {
    color: #2a124e;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

footer li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}

.address_li {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-top: 10px;
}

.media_icons span img{
    width: 28px;
}

.media_icons span a {
    background: #e0cbff;
    padding: 6px;
    border-radius: 5px;
    margin-top: 10px;
}

footer li img{
    width: 21px;
    height: 100%;
}

.ft_label {
    display: flex;
    gap: 5px;
}